<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <h1 style="text-align: center;">Timesheet</h2>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    {% for job in user_data.jobs %}
                    <th>{{job.short_name}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week in weeks %}
                <tr {% if week==this_week %} class="highlight-row" {% endif %}>
                    <td>{{ week.strftime('%d-%m-%Y') }}</td>
                    {% for job in user_data.jobs %}
                    <td>
                        {{ '%.2f' % (job.timesheets[week].total()/60) }}
                        ({{'%.2f' % (job.timesheets[week].flexi/60) }})
                    </td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table>

</body>

</html>